body{
    background-color: rgb(110, 162, 221);
    color: rgb(23, 22, 95);
}

h1{
    color: rgb(64, 56, 180);
    background-color: rgb(156, 213, 247);
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}
p{
    color: rgb(18, 18, 201);
}