body{
    background-color: #9b3f7b;
    background-color: #501346;
}
h2{
    color: #5D1073;
}

h1{
    color: #5D1073;
    background-color:#A429D9;
}

h4{
    color: #f1b8ff;
}

p{
    color: #f1b8ff;
}
figcaption{
    color: #A429D9;
}
footer{
    color: #A429D9;
}
a{
    color: aliceblue;
}
h3{
    color:#f1b8ff ;
}